/* start variables */

:root {
    --main-color: #19c8fa;
    --transparent-color: rgb(15 116 143 / 60%);
    --section-padding: 100px;
}


/* start Global Rules */

@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;500;700;800&display=swap");
* {
    font-family: "Open Sans", sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
    transition: 0.4s;
    -webkit-transition: 0.4s;
    -moz-transition: 0.4s;
    -ms-transition: 0.4s;
    -o-transition: 0.4s;
    overflow-x: hidden;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
}

.container {
    padding: 0 15px;
    margin: 0 auto;
}


/* small */

@media (min-width: 768px) {
    .container {
        width: 730px;
    }
}


/* medium */

@media (min-width: 992px) {
    .container {
        width: 970px;
    }
}


/* End Global Rules */


/* start component */

.main-heading {
    text-align: center;
}

.main-heading h2 {
    text-transform: uppercase;
    font-size: 40px;
    font-weight: normal;
    margin-bottom: 60px;
    position: relative;
}

.main-heading h2::before {
    content: "";
    position: absolute;
    bottom: -25px;
    left: 50%;
    transform: translateX(-50%);
    height: 2px;
    width: 120px;
    background-color: #333;
}

.main-heading h2::after {
    content: "";
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: -33px;
    width: 14px;
    height: 14px;
    border: 2px solid #333;
    border-radius: 50%;
    background-color: #fff;
}

.main-heading p {
    max-width: 100%;
    width: 500px;
    margin: 0 auto 100px;
    line-height: 1.5;
    color: #888;
}


/* End component */